apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: web

resources:
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: linked-data-service
  app.kubernetes.io/managed-by: argocd

images:
  - name: ghcr.io/mcharno/linked-data-service
    newTag: latest
